@import "../theme";

.useredit {
  &.container {
    margin-top: 2em;
    min-height: 300px;
    /* we include the center mixin defined in _theme.scss and save three duplicate lines :) */
    @include center;
    flex-direction: column;
  }
  &.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    max-width: 30em;
    font-size: 16px;
    font-weight: 300;
    padding-left: 37px;
    padding-right: 37px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: $borderRadius;
    background-color: $background;
    transition: opacity 0.5s ease, transform 0.5s ease;
  }
  &.leftright {
    display: flex;
    flex-direction: row;
    margin-bottom: 2em;
  }
  &.left {
    width: 50%;
    margin-left: 1em;
    display: flex;
    flex-direction: column;
  }
  &.right {
    width: 50%;
    margin-left: 1em;
    display: flex;
    flex-direction: column;
    font-family: $fontMono;
    font-weight: 300;
  }
  & label {
    margin-bottom: 0.5em;
  }
  &.on {
    color: $greenColor;
  }
  &.off {
    color: $redColor;
  }
  &.button-container {
    display: flex;
    justify-content: center;
    margin-bottom: 1em;
  }
  &.namefield {
    margin-top: 0.5em;
    margin-bottom: 2em;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &.name {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 40%;
    height: 35px;
    border: none;
    border-radius: $borderRadius;
    background: $accentDark;
    color: $textColor;
  }
  &.date {
    margin-left: -10px;
    padding-left: 10px;
    width: 115px;
    height: 35px;
    border: none;
    border-radius: $borderRadius;
    background: $accentDark;
    color: $textColor;
    font-size: 16px;
    font-weight: 300;
  }
  &.picker {
    border: none;
    font-size: 16px;
    font-family: $fontMono;
    font-weight: 300;
  }
}
