@import "../theme";

.users {
  &.container {
    margin-top: 2em;
    background: $background;
    padding: 1.5em;
    border-radius: $borderRadius;
    display: flex;
    flex-direction: column;
    align-items: center;
    //box-shadow: $dropShadow;
  }
  &.user-list {
    list-style: none;
    padding-left: 0;
  }
  &.user-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  & p,
  h2 {
    margin: 0.5em 0;
  }
}

.user {
  &.container {
    margin: 0.5em 0;
    width: 20em;
    padding: 10px;
    border-radius: $borderRadius;
    display: flex;
    align-items: center;
    background: $accentDark;
    color: $textColor;
  }
  &.username {
    font-weight: 300;
    margin-left: 5px;
  }
  &.status {
    margin-left: auto;
    margin-right: 10px;
    font-family: $fontMono;
    font-weight: 300;
  }
  &.status.on {
    color: $greenColor;
  }
  &.status.off {
    color: $redColor;
  }
}
