@import "../theme";

.users {
  &.container {
    margin-top: 2em;
    background: $background;
    padding: 1.5em;
    border-radius: $borderRadius;
    display: flex;
    flex-direction: column;
    align-items: center;
    //box-shadow: $dropShadow;
  }
  &.user-list {
    list-style: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
  }
  &.user-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  & p {
    //white-space: pre-line;
    text-align: center;
    margin: 2em 0 0.5em;
  }
  & h3 {
    margin-top: 0em;
    margin-bottom: 1em;
    min-width: 20em;
    text-align: center;
  }
  &.buttonspacing {
    height: 1em;
  }
}

.user {
  &.container {
    margin: 0.75em 0 0.25em;
    width: 20em;
    padding: 10px;
    border: none;
    border-radius: $borderRadius;
    display: flex;
    align-items: center;
    background: $accentDark;
    color: $textColor;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  &.container:hover {
    transform: translateY(-2px);
  }
  &.username {
    font-weight: 300;
    margin-left: 5px;
  }
  &.status {
    margin-left: auto;
    margin-right: 10px;
    font-family: $fontMono;
    font-weight: 300;
  }
  &.status.on {
    color: $greenColor;
  }
  &.status.off {
    color: $redColor;
  }
}
